div {border: solid 3px ;color:#229800;margin: 5px;}
#b1 {wight:100%; background-color:#752958;}
#b2 {background-color:#8d509e; }
#b3 {background-color:#ba57d6;width:25%;margin:2px;float:left;}
#b4 {background-color:#c283c7;width:20%;border:#1685b0;margin:5px;float:left;text-indent: 5em;font-family: Helvetica,sans-serif;}
#b5 {background-color:#f7b8fd;margin:5px;float:left;}
#b6 {clear:both;margin: 5px;}
